<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
</head>
<body>
    
    

    <div class="topnav">
        <a asp-controller="Book" asp-action="Index">Online Book Manager</a>
        <div class="topnav-right">
            <a asp-controller="Account" asp-action="Login">Log In</a>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
