
<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/content/try.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
    <div class="topnav">
        <div class="topnav-right">
            <a asp-controller="Account" asp-action="Login">Log In</a>
        </div>
    </div>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        

        <div class="w3-display-top">    
            <h1>Online Book Manager</h1>
            <p align="left" class="alert-info">Please use below Login Information or register as a new user</p>
            <p align="left">Username:  Dhruvdhiman </p>
            <p align="left">Password:  Password@123 </p>
        </div>

    </div>
</body>
</html>